.background {
    background-image: url(background.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.cover {
    background: rgba(34, 147, 223, 0.8);
    height: 100%;
}

.banana {
    width: 15px;
}

.mangu {
    color: yellow;
}

.games {
    color: rgb(255, 104, 104);
}

.supercharadas {
    width: 200px;
}

.pasos {
    width: 800px;
}

